<!DOCTYPE html>
<html>
<title>PetsBook Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type=text/javascript src="../static/jquery-3.1.1.min.js"></script>
<script type=text/javascript src="../static/garand-sticky/jquery.sticky.js"></script>
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Great+Vibes">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/effect.css">
<link rel="stylesheet" href="../static/alert.css">
<link rel="stylesheet" href="../static/effect.css">
<body>

<!-- Header -->
<ul class="w3-navbar w3-green">
    <div class="w3-container w3-center w3-third">
        <h1 class="w3-border-right" style="font-family: 'Lobster', serif">PetsBook</h1>
    </div>
    <div class="w3-container w3-twothird w3-center">
        <h1 style="font-family: 'Great Vibes', serif"><i>"Where cuteness spreads around."</i></h1>
    </div>
</ul>
<div class="w3-animate-right w3-margin w3-round alert success">
    <span class="closebtn">&times;</span>
    <p>Hello, {{ logged_in_user.username }}! You have successfully signed in to your account!</p>
</div>
<script>
var close = document.getElementsByClassName("closebtn");
var i;
for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>
<header class="w3-display-container w3-content" style="max-width:1500px">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_1.jpg" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_2.jpg" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_3.png" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_4.jpg" style="width: 100%;">
    <script>
        var slideIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1}
            x[slideIndex-1].style.display = "block";
            setTimeout(carousel, 10000);
        }
    </script>
    <div class="w3-display-middle w3-padding-xlarge w3-border w3-wide w3-light-grey w3-text-dark-grey w3-center w3-round" style="opacity: 0.7">
        <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" style="font-family: 'Lobster', serif">PetsBook</h1>
        <h5 class="w3-hide-large" style="font-family: 'Lobster', serif">PetsBook</h5>
    </div>

<!-- Navbar (placed at the bottom of the header image) -->
    <ul class="w3-navbar w3-xlarge w3-green w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
        <li><a class="w3-hover-red" href="{{ url_for("home") }}">Home</a></li>
        <li><a class="w3-hover-red" href="{{ url_for("get_profile", username=logged_in_user.username) }}">Profile</a></li>
        <li><a class="w3-hover-red" href="{{ url_for("do_signout") }}">Sign Out</a></li>
    </ul>
</header>

{#<!-- Navbar on small screens -->#}
<ul class="w3-navbar w3-large w3-margin-top w3-green w3-hide-large w3-hide-medium">
    <li><a class="w3-hover-red" href="{{ url_for("home") }}">Home</a></li>
    <li><a class="w3-hover-red" href="{{ url_for("get_profile", username=logged_in_user.username) }}">Profile</a></li>
    <li><a class="w3-hover-red" href="{{ url_for("do_signout") }}">Sign Out</a></li>
</ul>

<!-- Page content -->
<div class="w3-margin-bottom" style="margin-top: 32px">

<!-- Images (Portfolio) -->
    <div class="w3-row">
        <div class="w3-quarter w3-container w3-margin-top">
            <div class="w3-border-bottom" id="sidebar">
                <div class="w3-container w3-green w3-round w3-center">
                    <h1>Top 15</h1>
                </div>
                <div class="w3-container">
                        {% for pet in rank %}
                            <a href="{{ url_for("get_profile", username=pet[1]) }}" style="text-decoration: none"><h5><i class="w3-text-yellow fa fa-trophy w3-margin-left w3-margin-right"></i>{{ pet[1] }}</h5></a>
                        {% endfor %}
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    if (jQuery(window).innerWidth() >600) {
                        $("#sidebar").sticky({topSpacing: 16, bottomSpacing: 130});
                    }
                })
            </script>
        </div>
        <div class="w3-rest w3-container w3-border-left">
            {% for user in users %}
                {% if user.pet != None %}
                    {% set block_name = "block_" + user.username %}
                    <div class="w3-rest w3-border-bottom w3-margin-bottom">
                        <div class="hovereffect w3-container w3-twothird w3-margin-top w3-margin-bottom">
                            <img src="../static/uploads/{{ user.pet.img_ava }}" class="w3-image w3-round" width="100%">
                            <div class="overlay">
                               <h2>{{ user.pet.name }}</h2>
                               <a class="info" href="{{ url_for("get_profile", username=user.username) }}">View Profile</a>
                            </div>
                        </div>
                        <div class="w3-third w3-container">
                            <a href="{{ url_for("get_profile", username=user.username) }}" style="text-decoration: none"><h5><i class="w3-text-green fa fa-user w3-margin-right"></i>{{ user.username }}</h5></a>
                            <h5><i class="w3-text-green fa fa-paw w3-margin-right"></i>{{ user.pet.name }}</h5>
                            <h5><i class="w3-text-green fa fa-pencil w3-margin-right"></i>{{ user.pet.des }}</h5>
                            <h5><i class="w3-text-yellow fa fa-trophy  w3-margin-right"></i>{{ user.rank }}</h5>
                            {% if logged_in_user.username in user.pet.liked_users %}
                                <h5 class="w3-border-bottom"><i class="w3-text-red fa fa-heart w3-margin-right"></i>{{ user.pet.like_count }}</h5>
                                <div class="w3-container w3-red w3-padding w3-margin-bottom w3-center w3-round">Voted</div>
                            {% elif logged_in_user.username not in user.pet.liked_users %}
                                <div class="{{block_name}}" >
                                    <h5 class="w3-border-bottom"><i class="w3-text-red fa fa-heart w3-margin-right"></i><a class="count" id="{{ block_name }}_1">{{ user.pet.like_count }}</a></h5>
                                    <button type="button" class="w3-red w3-padding w3-margin-bottom w3-btn-block w3-round" id="{{ block_name }}_2">Vote</button>
                                </div>
                                <script type="text/javascript">
                                    $(".{{ block_name }}").on("click", function(){
                                        var $counter = $(this).find(".count");
                                        var count = $counter.text() | 0;
                                        $.ajax({
                                            url: '/home',
                                            data: {
                                                username : "{{ user.username }}",
                                                votes : count
                                            },
                                            type: 'POST'
                                        })
                                        .done(function (data) {
                                            $("#{{ block_name }}_1").text(data.votes).show()
                                        });
                                        event.preventDefault();
                                        $('#{{ block_name }}_2').replaceWith('<div class="w3-container w3-red w3-padding w3-margin-bottom w3-center">Voted</div>');
                                    });
                                </script>
                            {% endif %}
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <div class="w3-container w3-green w3-center">
                                <p>Posts</p>
                            </div>
                            {% for i in range(0, user.pet.uploads|length) %}
                                <div class="w3-animate-right mySlides_{{ user.username }}">
                                    <a href="{{ url_for("get_profile", username=user.username) }}"><img class="w3-image" src="../static/uploads/{{ user.pet.uploads[i].img_upload }}"></a>
                                    <h5><i class="w3-text-green fa fa-comment w3-margin-right"></i>{{ user.pet.uploads[i].caption }}</h5>
                                </div>
                            {% endfor %}
                            <script>
                                carouse_{{ user.username }}(0);

                                function carouse_{{ user.username }}(myIndex) {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides_{{ user.username }}");
                                    for (i = 0; i < x.length; i++) {
                                       x[i].style.display = "none";
                                    }
                                    myIndex++;
                                    if (myIndex > x.length) {myIndex = 1}
                                    x[myIndex-1].style.display = "block";
                                    setTimeout(function() {  carouse_{{ user.username }}(myIndex); }, 5000);
                                }
                            </script>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<footer class="w3-container w3-red w3-center">
    <h3 style="font-family: 'Lobster', serif">PetsBook</h3>
    <p>petsbookdevteam@gmail.com</p>
</footer>
</body>
</html>
