<!DOCTYPE html>
<html>
<title>{{ user.username }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type=text/javascript src="../static/jquery-3.1.1.min.js"></script>
<script type=text/javascript src="../static/garand-sticky/jquery.sticky.js"></script>
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Great+Vibes">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/effect.css">
<link rel="stylesheet" href="../static/alert.css">
<link rel="stylesheet" href="../static/effect.css">
<body>

<!-- Header -->
<ul class="w3-navbar w3-green">
    <div class="w3-container w3-center w3-third">
        <h1 class="w3-border-right" style="font-family: 'Lobster', serif">PetsBook</h1>
    </div>
    <div class="w3-container w3-twothird w3-center">
        <h1 style="font-family: 'Great Vibes', serif"><i>"Where cuteness spreads around."</i></h1>
    </div>
</ul>
<header class="w3-display-container w3-content" style="max-width:1500px">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_1.jpg" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_2.jpg" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_3.png" style="width: 100%;">
    <img class="mySlides w3-animate-fading w3-image" src="../static/slideshow/img_1.jpg" style="width: 100%;">
    <script>
        var slideIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1}
            x[slideIndex-1].style.display = "block";
            setTimeout(carousel, 10000); // Change image every 2 seconds
        }
    </script>
    <div class="w3-display-middle w3-padding-xlarge w3-border w3-wide w3-light-grey w3-text-dark-grey w3-center w3-round" style="opacity: 0.7">
        <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" style="font-family: 'Lobster', serif">PetsBook</h1>
        <h5 class="w3-hide-large" style="font-family: 'Lobster', serif">PetsBook</h5>
    </div>

<!-- Navbar (placed at the bottom of the header image) -->
    <ul class="w3-navbar w3-xlarge w3-green w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
        <li><a class="w3-hover-red" href="{{ url_for("home") }}">Home</a></li>
        <li><a class="w3-hover-red" href="{{ url_for("get_profile", username=logged_in_user.username) }}">Profile</a></li>
        <li><a class="w3-hover-red" href="{{ url_for("do_signout") }}">Sign Out</a></li>
    </ul>
</header>

{#<!-- Navbar on small screens -->#}
<ul class="w3-navbar w3-large w3-margin-top w3-green w3-hide-large w3-hide-medium">
    <li><a class="w3-hover-red" href="{{ url_for("home") }}">Home</a></li>
    <li><a class="w3-hover-red" href="{{ url_for("get_profile", username=logged_in_user.username) }}">Profile</a></li>
    <li><a class="w3-hover-red" href="{{ url_for("do_signout") }}">Sign Out</a></li>
</ul>

<!-- Page content -->
<div class="w3-margin-bottom" style="margin-top: 32px">
    {% if not user.pet %}
        <div class="w3-container w3-margin-top w3-hide-small">
            <div class="w3-animate-right w3-round alert warning" style="margin: 16px">
                <span class="closebtn">&times;</span>
                <p>Hi, {{ user.username }}! Update your profile to start sharing your pet!</p>
            </div>
            <script>
            var close = document.getElementsByClassName("closebtn");
            var i;
            for (i = 0; i < close.length; i++) {
                close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                }
            }
            </script>
            <div class="w3-card-2" style="margin: 64px">
                <div class="w3-container w3-green">
                    <h1>Update Profile</h1>
                </div>
                <div class="w3-container w3-margin-top">
                    <form method="post" action="{{ url_for("get_profile", username=logged_in_user.username) }}" enctype="multipart/form-data" id="update_profile">
                        <style>
                            textarea {
                                padding: 16px 16px;
                                margin-bottom: 12px;
                                box-sizing: border-box;
                                border: 2px solid #ccc;
                                border-radius: 4px;
                                background-color: #f8f8f8;
                                font-size: 16px;
                                resize: none;
                            }
                        </style>
                        <textarea name="name" form="update_profile" placeholder="Enter your pet name here!" maxlength="25" style="width: 25%; height: 60px" required></textarea>
                        <textarea name="des" form="update_profile" placeholder="Write a short description about your pet!" maxlength="75" style="width: 100%; height: 100px" required></textarea>
                        <div style="height: 0px; overflow: hidden">
                                <input type="file" id="img_ava" name="img_ava">
                        </div>
                        <button type="button" class="w3-red w3-btn-block w3-round w3-margin-bottom" onclick="chooseFile();">Get your pet a profile picture</button>
                        <script>
                            function chooseFile() {
                                $("#img_ava").click();
                            }
                        </script>
                        <div class="w3-container w3-center">
                            <img class="w3-image w3-margin-bottom" src="" id="img_preview">
                        </div>
                        <script>
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#img_preview').attr('src', e.target.result);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                            $("#img_ava").change(function(){
                                readURL(this);
                            });
                        </script>
                        <input type="submit" name="update_profile" value="Submit" class="w3-button w3-green w3-btn-block w3-round w3-margin-bottom">
                    </form>
                </div>
            </div>
        </div>
        <div class="w3-container w3-margin-top w3-hide-large w3-hide-medium">
            <div class="w3-animate-right w3-round alert warning">
                <span class="closebtn">&times;</span>
                <p>Hi, {{ user.username }}! Update your profile to start sharing your pet!</p>
            </div>
            <script>
            var close = document.getElementsByClassName("closebtn");
            var i;
            for (i = 0; i < close.length; i++) {
                close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                }
            }
            </script>
            <div class="w3-card-2 w3-margin">
                <div class="w3-container w3-green">
                    <h1>Update Profile</h1>
                </div>
                <div class="w3-container w3-margin-top">
                    <form method="post" action="{{ url_for("get_profile", username=logged_in_user.username) }}" enctype="multipart/form-data" id="update_profile">
                        <style>
                            textarea {
                                padding: 16px 16px;
                                margin-bottom: 12px;
                                box-sizing: border-box;
                                border: 2px solid #ccc;
                                border-radius: 4px;
                                background-color: #f8f8f8;
                                font-size: 16px;
                                resize: none;
                            }
                        </style>
                        <textarea name="name" form="update_profile" placeholder="Enter your pet name here!" maxlength="25" style="width: 100%; height: 60px" required></textarea>
                        <textarea name="des" form="update_profile" placeholder="Write a short description about your pet!" maxlength="75" style="width: 100%; height: 100px" required></textarea>
                        <div style="height: 0px; overflow: hidden">
                                <input type="file" id="img_ava" name="img_ava">
                        </div>
                        <button type="button" class="w3-red w3-btn-block w3-round w3-margin-bottom" onclick="chooseFile();">Get your pet a profile picture</button>
                        <script>
                            function chooseFile() {
                                $("#img_ava").click();
                            }
                        </script>
                        <div class="w3-container w3-center">
                            <img class="w3-image w3-margin-bottom" src="" id="img_preview">
                        </div>
                        <script>
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#img_preview').attr('src', e.target.result);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                            $("#img_ava").change(function(){
                                readURL(this);
                            });
                        </script>
                        <input type="submit" name="update_profile" value="Submit" class="w3-button w3-green w3-btn-block w3-round w3-margin-bottom">
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="w3-row" style="padding-top: 16px;">
            <div class="w3-quarter w3-container w3-margin-bottom">
                <div class="w3-card-2 sidebar">
                    <div class="w3-container w3-green w3-center">
                        <h1>Rank & Votes</h1>
                    </div>
                    <div class="w3-container">
                        {% if logged_in_user.username in user.pet.liked_users %}
                            <h1><i class="w3-text-yellow fa fa-trophy w3-margin-left w3-margin-right"></i>{{ user.rank }}</h1>
                            <h1><i class="w3-text-red fa fa-heart w3-margin-left w3-margin-right"></i>{{ user.pet.like_count }}</h1>
                            <div class="w3-container w3-red w3-padding w3-margin-bottom w3-center w3-round">Voted</div>
                        {% elif logged_in_user not in user.pet.liked_users %}
                            <div class="stats">
                                <h1><i class="w3-text-yellow fa fa-trophy w3-margin-left w3-margin-right"></i>{{ user.rank }}</h1>
                                <h1><i class="w3-text-red fa fa-heart w3-margin-left w3-margin-right"></i><a class="count" id="votes">{{ user.pet.like_count }}</a></h1>
                                <button type="button" name="vote" class="w3-red w3-padding w3-margin-bottom w3-btn-block w3-round" id="vote">Vote</button>
                            </div>
                            <script type="text/javascript">
                                $(".stats").on("click", function(){
                                    var $counter = $(this).find(".count");
                                    var count = $counter.text() | 0;
                                    $.ajax({
                                        url: '/profile/{{ user.username }}',
                                        data: {
                                            votes : count
                                        },
                                        type: 'POST'
                                    })
                                    .done(function (data) {
                                        $("#votes").text(data.votes).show()
                                    });
                                    event.preventDefault();
                                    $('#vote').replaceWith('<div class="w3-container w3-red w3-padding w3-margin-bottom w3-center">Voted</div>');
                                });
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="w3-quarter w3-container w3-margin-bottom">
                <div class="w3-card-2 sidebar">
                    <div class="w3-container w3-green w3-center">
                        <h1>Info</h1>
                    </div>
                    <div class="w3-container w3-margin-top">
                        <img class="w3-round w3-hover-opacity w3-image" src="../static/uploads/{{ user.pet.img_ava }}" style="width: 100%">
                    </div>
                    <div class="w3-container">
                        <h5><i class="w3-text-green fa fa-user w3-margin-right"></i>{{ user.username }}</h5>
                        <h5><i class="w3-text-green fa fa-paw w3-margin-right"></i>{{ user.pet.name }}</h5>
                        <h5><i class="w3-text-green fa fa-pencil w3-margin-right"></i>{{ user.pet.des }}</h5>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    if (jQuery(window).innerWidth() >600) {
                        $(".sidebar").sticky({bottomSpacing: 130});
                    }
                })
            </script>
            <div class="w3-half w3-container">
                {% if logged_in_user == user %}
                    <div class="w3-card-2" style="margin-bottom: 32px">
                        <div class="w3-container w3-green w3-center">
                            <h1>Upload</h1>
                        </div>
                        <div class="w3-container w3-margin-top">
                            <form method="post" action="{{ url_for("get_profile", username=logged_in_user.username) }}" enctype="multipart/form-data" id="upload">
                                <div style="height: 0px; overflow: hidden">
                                    <input type="file" id="img_upload" name="img_upload">
                                </div>
                                <button type="button" class="w3-red w3-btn-block w3-round w3-margin-bottom" onclick="chooseFile();">Choose a picture to upload</button>
                                <script>
                                    function chooseFile() {
                                        $("#img_upload").click();
                                    }
                                </script>
                                <img class="w3-image w3-margin-bottom" src="" id="img_preview">
                                <script>
                                    function readURL(input) {
                                        if (input.files && input.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $('#img_preview').attr('src', e.target.result);
                                            };
                                            reader.readAsDataURL(input.files[0]);
                                        }
                                    }
                                    $("#img_upload").change(function(){
                                        readURL(this);
                                    });
                                </script>
                                <style>
                                    textarea {
                                        width: 100%;
                                        height: 100px;
                                        padding: 16px 16px;
                                        margin-bottom: 12px;
                                        box-sizing: border-box;
                                        border: 2px solid #ccc;
                                        border-radius: 4px;
                                        background-color: #f8f8f8;
                                        font-size: 16px;
                                        resize: none;
                                    }
                                </style>
                                <textarea name="caption" form="upload" placeholder="Write something about the picture..." maxlength="200"></textarea>
                                <input type="submit" name="upload" value="Upload" class="w3-button w3-red w3-btn-block w3-round w3-margin-bottom">
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="w3-container w3-green w3-center sidebar">
                    <h1>Posts</h1>
                </div>
                {% if user.pet.uploads != [] %}
                    <script>
                        $(document).ready(function(){
                            if (jQuery(window).innerWidth >600) {
                                $(".sidebar").sticky({bottomSpacing: 130});
                            }
                        })
                    </script>
                    <div class="w3-container w3-border-left">
                        {% for i in range(user.pet.uploads|length - 1, -1, -1) %}
                            {% set block_name = "block_" + i|string %}
                            <div class="w3-border-bottom w3-margin-bottom">
                                <img src="../static/uploads/{{ user.pet.uploads[i].img_upload }}" class="w3-image w3-margin-top w3-round" style="width: 100%">
                                <h5><i class="w3-text-green fa fa-comment w3-margin-right"></i>{{ user.pet.uploads[i].caption }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="w3-container w3-center">
                        <h3 class="w3-text-grey">No posts at the moment</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
<footer class="w3-container w3-red w3-center">
    <h3 style="font-family: 'Lobster', serif">PetsBook</h3>
    <p>petsbookdevteam@gmail.com</p>
</footer>
</body>
</html>