<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<div class="w3-card-4 w3-margin">
    <div class="w3-container w3-teal w3-margin-bottom">
        <h1>Sign In</h1>
    </div>
    <form class="w3-container" method="post" action="{{ url_for("do_signin") }}">
        <label>Username</label>
        <input type="text" name="username" class="w3-input" required><br>
        <label>Password</label>
        <input type="password" name="password" class="w3-input" required><br>
        <input type="submit" value="Sign In" class="w3-button w3-red w3-btn-block w3-margin-bottom">
    </form>
</div>
</body>
</html>